body {
    background-color: darkgreen;
}

nav {
    height: 50px;
    margin: 0;
    color: white;
}

.containers {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
}

.left-container {
    margin: 0%;
    height: 1vh;
}

.right-container{
    margin: 0%;
    background-color: antiquewhite;
    height: 1vh;
}

form {
    padding-top: 10%;
}