

header {
    position: fixed;
    background: transparent;
}

.hero {
    background-color: #243047;
    margin: 0;
    padding: 0;
}

.hero img {
    object-fit: cover;
    width: 64px;
    height: 64px;
}

.mission-image {
    background-color: #243047;
}